main {
  height: 450px;
  width: 600px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  text-align: center;
}

.form {
  text-align: left;
  display: grid;
  border-radius: 6px;
  width: 600px;
  height: 100%;
  align-content: space-evenly;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px rgba(112, 128, 144, 0.219);
}

.userInput {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(112, 128, 144, 0.219);
  padding: 6px;
}

.grid {
  display: grid;
}

.link {
  color: black;
  text-decoration: none;
}
