@import "../index.css";

.navbar {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbox {
  display: flex;
  justify-content: space-evenly;
}

.btnbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link {
  background-color: var(--blue);
  border-radius: 3px;
  padding-inline: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.05rem;
}
